{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <h1 class="mb-4">Bienvenido al Inventario Agrícola</h1>
    <div class="row">
        {% if perms.maquinaria_agricola.view_maquina %}
            <div class="col-md-3">
                <a href="{% url 'maquina_list' %}" class="btn btn-primary w-100 mb-3">Gestionar Máquinas</a>
            </div>
        {% endif %}
        {% if perms.maquinaria_agricola.view_complemento %}
            <div class="col-md-3">
                <a href="{% url 'complemento_list' %}" class="btn btn-primary w-100 mb-3">Gestionar Complementos</a>
            </div>
        {% endif %}
        {% if perms.maquinaria_agricola.view_trabajador %}
            <div class="col-md-3">
                <a href="{% url 'trabajador_list' %}" class="btn btn-primary w-100 mb-3">Gestionar Trabajadores</a>
            </div>
        {% endif %}
        {% if perms.maquinaria_agricola.view_operacion %}
            <div class="col-md-3">
                <a href="{% url 'operacion_list' %}" class="btn btn-primary w-100 mb-3">Gestionar Operaciones</a>
            </div>
        {% endif %}
    </div>
{% endblock %}